.container {
    display:flex;
    flex-flow: column nowrap;
    cursor: pointer;
}

.navName {
    font-size: .9375rem;
    color: #bbbbbb;
    text-transform: capitalize;
}

.navDot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .375em 0;
}

.dot {
    position: relative;
    width: .3125em;
    height: .3175em;
    border-radius: 50%;
    background-color: none;
}

.isSelectedName {
    color: #3D3C3C;
}

.isSelectedDot {
    background-color: #3D3C3C;
}

