@font-face {
  font-family: 'Metropolis Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Metropolis Medium'), url('./fonts/Metropolis-Medium.woff') format('woff');
  }
   

  @font-face {
  font-family: 'Metropolis Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Metropolis Bold'), url('./fonts/Metropolis-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Corporate S Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Corporate S Demi'), url('./fonts/CorporateS-Demi.woff') format('woff');
  }

body {
  margin: 0;
  font-family: 'Metropolis Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
